
<div class="body">
  {{#if session.authenticated}}
    <button {{action 'logout'}}>Logout</button>
  <div class="ui container">
    {{outlet}}
  </div>
  {{else}}
    <button {{action 'login'}}>login</button>
  {{/if}}
</div>