
<div class="body">
  <div class="container">
    {{#link-to 'about' class='item'}}
      About
    {{/link-to}}
  </div>

  <div class="container">
     {{keycloak-session-link url=currentUrl}}
  </div>


    {{outlet}}

</div>