
<div class="body">
  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}>Logout</button>
  <div class="ui container">
    {{outlet}}
  </div>
  {{else}}
    {{login-form}}
  {{/if}}
</div>