{{#ui-grid}}
  {{#ui-column wide=4 }}
    <div class="ui segment">
      This is a tourial like site. Hope you are enjoy it.
    </div>
  {{/ui-column}}
  {{#ui-column wide=12 }}
    <div class="ui segment">
      I try to put basic skill information together. My goal is to have one place to start a project for scratch to complete.
    </div>
  {{/ui-column}}
{{/ui-grid}}