<!-- app/templates/components/login-form.hbs -->
<div class = "ui container">
<form {{action 'authenticate' on='submit'}} class="ui form">
  <div class="field">
    <label for="identification">User</label>
    {{input value=identification placeholder='Enter Login' class='form-control'}}
  </div>
  <div class="field">
    <label for="password">Password</label>
    {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
  </div>
  <button type="submit" class="ui button">Login</button>
</form>
{{#if errorMessage}}
  <div class="ui error message">
    <div class="header">Login Failed:</div>
    <p>{{errorMessage}}</p>
  </div>
{{/if}}
</div>
